.countries countries--first {
  display: flex;
  flex-direction: row-reverse;
}
.countries countries--second {
  display: flex;
  flex-direction: column;
}
.countries countries--third {
  display: flex;
  flex-direction: column-reverse;
}
